

.topLeft{
    font-style:Arial;
    /*text-align:left;*/
    color: aqua;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 50%;
    margin-bottom: 50%;
  }

  a:link {
    text-decoration: none;
    color: black;
  }